body {
  font-family: "open sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

/*Header styling*/

.logo {
  width: 650px;
  height: 350px;
  padding: 20px 325px;
  margin: 0px;
}

header {
  max-width: 100%;
  background-size: cover;
  background-color: #f2f2f2;
  margin: 0px;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

input {
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: solid #023373;
  border-radius: 10px;
  width: 100%;
}

nav {
  background-color: #03588c;
}

nav li {
  display: inline-block;
}

nav li a {
  color: #f2f2f2;
}
