@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

/*Header styling*/

.header-image {
  margin: 0px;
  max-width: 1000px;
  width: 100%;
}

.logo {
  max-width: 1400px;
  width: 50%;
  height: 250px;
  margin: 10px 200px 10px 400px;
}

header {
  max-width: 1400px;
  width: 100%;
  background-size: cover;
  background-color: #f2f2f2;
  margin: 0px;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  position: relative;
  left: 1050px;
}

input {
  max-width: 1400px;
  width: 100%;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: solid #023373;
  border-radius: 10px;
  width: 100%;
}

.navbar ul {
  list-style: none;
  background: #03588c;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: #f2f2f2;
  width: 100px;
  display: block;
  padding: 15px 10px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.active {
  text-decoration: underline;
}

/* Home page styling*/

.background-image {
  height: 100%;
}

.welcome {
  background-image: url("../images/manonmountaincss.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 110vh;
}

.welcome_content {
  position: absolute;
  text-align: center;
  top: 600px;
  left: 700px;
}

.cta {
  background-color: #023373;
  color: #f2f2f2;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px 60px;
  border-radius: 50px;
}

/* footer */

footer {
  background-color: #1d386a;
  color: #f2f2f2;
  text-align: center;
  padding: 40px;
  height: auto;
  margin: 0;
}

.social-media {
  border: solid red;
  display: inline;
  max-width: 1000px;
  width: 100%;
  margin: 0;
  position: relative;
}
